body {
    background: #B3B3B3;
    margin: 0;
    padding: 0;
}

.sender {
    width: 100%;
    height: 50px;
    display: flex;
    background: #C4D7DC;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 0 10px;
}

.form {
    width: 90%;
    margin-left: 20px;
}

.input {
    height: 35px;
    width: 85%;
    border-radius: 30px;
    margin: 5px;
    border: none;
    outline: none;
    padding: 0 25px;
    box-sizing: border-box;
}

.name {
    width: 10%;
    height: 35px;
    background: #3CE600;
    color: white;
    border: 2px solid greenyellow;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.btn {
    width: 12%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 35px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: gray;
}

.btn:hover {
    border: 2px solid white;
    color: lightblue;
}

.messages > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.messages > ul > li {
    padding: 10px;
}

.messages > ul > li:nth-child(odd) {
    background: #C4D7DC;
}

.user {
    color: deepskyblue;
}

.time {
    font-size: 10px;
    color: white;
    margin-bottom: 10px;
}

.date {
    font-size: 10px;
    color: white;
    margin-bottom: 5px;
}
